h1{
    text-align: center;
    margin: 12px 0;

}

.myForm{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
}

.myInput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid #c76767;
    border-radius: 9px;

}

.btn{
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid #c76767;
    border-radius: 10px;
    background: rgb(196, 120, 120);
    cursor: pointer;
}

.container{
    min-height: 80vh;
}